.wrapper 
  max-width: 920px;
  section p
    line-height: 2em;
#idea, #event, #about, #staff, #partner
  padding-top: 52px;
  h2
    text-align: center;
    color: #5cb8fc;            
#idea
  margin-bottom: 20px;
.block
  padding-bottom: 20px;
  h4
    color: #369;
    text-align: center;
  p
    text-align: center;
#agenda
  overflow-x: scroll;
  .table
    color: #fff;
    margin: 0 auto;
    min-width: 540px;
    tr td, tr th
      border: 2px solid #eee;
      background-color: #444;
      text-align: center;
      vertical-align: middle;
    tr .misc 
      background-color: #51B3A4;
    tr .playing
      background-color: #60A9F3;
    tr .lesson
      background-color: #E07B90;

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
  border-top: none;