<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>開源！資訊萌芽營！ - SOSCET</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapse-1" data-target="#menu" aria-expanded="false" aria-controls="menus" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">開源！資訊萌芽營</a>
            </div>
            <div id="menu" class="navbar-collapse collapse" aria-expanded="false">
                <ul class="nav navbar-nav navbar-right ">
                    <li><a class="nav-item" href="#idea">活動理念</a></li>
                    <li><a class="nav-item" href="#event">關於活動</a></li>
                    <li><a class="nav-item" href="#about">關於我們</a></li>
                    <li><a class="nav-item" href="#staff">工作人員</a></li>
                    <li><a class="nav-item" href="#partner">合作夥伴</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header id="landing" class="col-md-12">
        <hgroup>
            <h1>開源！資訊萌芽營！</h1>
            <h4>動手和大家一起玩出世界</h4>
        </hgroup>
    </header>
    <div class="container wrapper">
        <section id="idea" class="col-md-12">
            <h2>活動理念</h2>
            <p>在充斥著電腦的這個世代，人們的生活已和電腦密不可分，看著無人機、物聯網和智慧型手機的誕生，就能想像到「資訊爆炸的未來」，甚至在某些國家，「程式設計」已成為國中小的「必修課」。
這次的活動目的是發掘東部對資訊領域有興趣的學生族群，引領他們鳥瞰有趣的資訊領域，透過三天兩夜的營隊活動，動手一同學習、創造，更落實東部的資訊發展。
            </p>
        </section>
        <section id="about" class="col-md-12">
            <h2>關於我們</h2>
            <p>SOSCET(Students' Open Source Community of Eastern Taiwan)
是由花蓮在地學生發起的資訊開源學生社群，希望能夠透過社群的方式推動台灣東部的資訊及開源並凝聚東部熱愛資訊的夥伴，促進學生之間的合作以及資訊知識的分享與傳承，提供一個能夠讓熱愛資訊與開源的夥伴聚集的平台，同時我們在意夥伴之間的交流與學習和自己動手做。</p>
        </section>
        <section id="event" class="col-md-12">
            <h2>關於活動</h2>
            <div class="row">
                <div class="col-md-4 block">
                    <h4>活動地點</h4>
                    <p>
                    花蓮<br>
                    東華大學
                    </p>
                </div>
                <div class="col-md-4 block">
                    <h4>活動日期</h4>
                    <p>
                    開始<br>2016/01/28<br>結束<br>2016/01/31
                    </p>
                </div>
                <div class="col-md-4 block">
                    <h4>活動對象</h4>
                    <p>
                    國中（含）以上學生
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 block">
                    <h4>住宿</h4>
                    <p>
                    東華大學<br>
                    學生宿舍
                    </p>
                </div>
                <div class="col-md-4 block">
                    <h4>活動地點</h4>
                    <p>
                    1/28 12:45<br>
                    從花蓮火車站發車至東華大學<br>
                    1/31 15:00<br>
                    從東華大學發車至花蓮火車站
                    </p>
                </div>
                <div class="col-md-4 block">
                    <h4>主辦單位</h4>
                    <p>
                    SOSCET 東部開源學生社群<br>
                    東華大學資訊工程學系
                    </p>
                </div>
            </div>
            <div class="col-md-12" id="agenda">
                <table class="table">
                    <thead>
                        <tr><th>時間</th><th>第一天</th><th>第二天</th><th>第三天</th><th>第四天</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>08:00-08:30</td>
                            <td rowspan="10"></td>
                            <td rowspan="2">起床＆早餐</td>
                            <td rowspan="2">起床＆早餐</td>
                            <td rowspan="2">起床＆早餐</td>
                        </tr>
                        <tr>
                            <td>08:30-09:00</td>
                            </tr>
                        <tr>
                            <td>09:00-09:30</td>
                            <td rowspan="7">認識電腦硬體與網路</td>
                            <td rowspan="6">大地遊戲</td>
                            <td rowspan="9">寫程式啦！</td>
                        </tr>
                        <tr>
                            <td>09:30-10:00</td>
                            </tr>
                        <tr>
                            <td>10:00-10:30</td>
                            </tr>
                        <tr>
                            <td>10:30-11:00</td>
                            </tr>
                        <tr>
                            <td>11:00-11:30</td>
                            </tr>
                        <tr>
                            <td>11:30-12:00</td>
                            </tr>
                        <tr>
                            <td>12:00-12:30</td>
                            <td rowspan="2">午餐</td>
                            </tr>
                        <tr>
                            <td>12:30-13:00</td>
                            <td rowspan="2">午餐</td>
                            </tr>
                        <tr>
                            <td>13:00-13:30</td>
                            <td>報到＆集合</td>
                            <td rowspan="8">資訊安全</td>
                            </tr>
                        <tr>
                            <td>13:30-14:00</td>
                            <td rowspan="2">接駁前往東華</td>
                            <td rowspan="7">程式<br>（Arduino）</td>
                            <td rowspan="3">閉幕 &amp; 成果發表</td>
                        </tr>
                        <tr>
                            <td>14:00-14:30</td>
                            </tr>
                        <tr>
                            <td>14:30-15:00</td>
                            <td>開幕</td>
                            </tr>
                        <tr>
                            <td>15:00-15:30</td>
                            <td rowspan="2">小隊破冰</td>
                            <td rowspan="2">搭車前往車站</td>
                        </tr>
                        <tr>
                            <td>15:30-16:00</td>
                            </tr>
                        <tr>
                            <td>16:00-16:30</td>
                            <td rowspan="4">開源精神</td>
                            <td rowspan="12"></td>
                        </tr>
                        <tr>
                            <td>16:30-17:00</td>
                        </tr>
                        <tr>
                            <td>17:00-17:30</td>
                            <td rowspan="2">晚餐</td>
                            <td rowspan="2">晚餐</td>
                        </tr>
                        <tr>
                            <td>17:30-18:00</td>
                        </tr>
                        <tr>
                            <td>18:00-18:30</td>
                            <td rowspan="2">晚餐</td>
                            <td rowspan="6">Arduino</td>
                            <td rowspan="6">密室逃脫</td>
                        </tr>
                        <tr>
                            <td>18:30-19:00</td>
                        </tr>
                        <tr>
                            <td>19:00-19:30</td>
                            <td rowspan="4">夜間教育</td>
                        </tr>
                        <tr>
                            <td>19:30-20:00</td>
                        </tr>
                        <tr>
                            <td>20:00-20:30</td>
                        </tr>
                        <tr>
                            <td>20:30-21:00</td>
                        </tr>
                        <tr>
                            <td>21:00-21:30</td>
                            <td rowspan="2">宵夜</td>
                            <td rowspan="2">宵夜</td>
                            <td rowspan="2">宵夜</td>
                        </tr>
                        <tr>
                            <td>21:30-22:00</td>
                        </tr>
                        <tr>
                            <td>22:00~</td>
                            <td colspan="4">就寢</td>
                        </tr>
                    <tbody>
                </table>
            </div>
        </section>
        <section id="staff" class="col-md-12">
            <h2>工作人員&amp;合作夥伴</h2>
            <div class="col-md-6">
                <ul>
                    <li>召集人：fateyan、ws23、周孟潔</li>
                    <li>行政組長：VAIZ</li>
                    <li>生活組長：pjkjqu</li>
                    <li>隊輔：芋頭</li>
                    <li>總務組長：大倫</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>教育部資訊志工計畫東華大學學習科技資訊志工團隊</li>
                    <li>TDoHacker</li>
                </ul>
            </div>
        </section>
    </div>
    <footer>
        <h5>Students' Open Source Community of Eastern Taiwan</h5>
        <div class="md-col-12">
            <a title="SOSCET Facebook"href="https://facebook.com/soscet"><i class="fa fa-2x fa-facebook"></i></a>
            <a title="SOSCET Slack"href="http://invite.soscet.org"><i class="fa fa-2x fa-slack"></i></a>
            <a title="SOSCET Homepage"href="http://soscet.org"><i class="fa fa-2x fa-home"></i></a>
            <a title="contact At soscet.org" href="mailto:contact@soscet.org"><i class="fa fa-2x fa-envelope"></i></a>
        </div>
    </footer>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"> 
</body>
</html>
