<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>開源！資訊萌芽營！ - SOSCET</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-item" href="#">開源！資訊萌芽營！</a></li>
                <li><a class="nav-item" href="#">關於我們</a></li>
                <li><a class="nav-item" href="#">聯絡我們</a></li>
                <li><a class="nav-item" href="#">工作人員&amp;贊助</a></li>
            </ul>
        </div>
    </nav>
    <header id="landing">
        <hgroup>
            <h1>開源！資訊萌芽營！</h1>
            <h4>動手和大家一起玩出世界</h4>
        </hgroup>
    </header>
    <section>
        <div class="container">
            <h2>開源！資訊萌芽營！</h2>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>關於我們</h2>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>連絡我們</h2>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>工作人員&amp;贊助</h2>
        </div>
    </section>
    <footer>
        <h5>Students' Open Source Community of Eastern Taiwan</h5>
        <i class="facebook">SOSCET's Facebook</i>
        <i class="slack">SOSCET's Slack</i>
        <i class="homepage">SOSCET's Homepage</i>
        <i class="contact">Contact us</i>
    </footer>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>
</body>
</html>
