@media screen and (max-width: 640px) , screen and (max-height: 500px)  {
    nav {
        display: none;
    }
    
    .toptri {
        display: none;
        &:after {
            display: none;
        }
    }
    
    .btmtri {
        display: none;
        &:before {
            display: none;
        }
    }
    
    .signup {
        padding: 0px !important;
    }
    
    .signupbase {
        top: 0px !important;
        height: 100vh !important;
        overflow: auto !important;
    }
    
    .trimheader {
        margin-right: auto !important;
        min-width: auto !important;
        text-align: center !important;
        width: 100vw !important;
        padding: 0px !important;
        &:after{
            display: none;
        }
    }
    .page {
        margin-top: 0px !important;
    }
    .noscroll {
        width: 100vw;
    }
    .btn.first {
        width: auto !important;
        display: block !important;
    }
    .btn {
        display: inline-block;
        border-radius: 0px !important;
        width: 50vw;
        margin: 0px !important;
    }
    .frminput > * {
        max-width: 50vw;
    }
}