html {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    padding: 0px;
    margin: auto 0px;
    font-family: "Microsoft JhengHei";
}

body {
    width: 100%;
    background-color: #fff;
    padding: 0px;
    margin: auto 0px;
    font-family: "Microsoft JhengHei";
    overflow: hidden;
}

$mainColor: rgba(255, 255, 255, 1);
$blue:#4285F4;
$red:#EA4335;
$yellow:#FBBC05;
$green:#34A853;
@mixin trim($t:auto,$r:auto,$b:auto,$l:auto) {
    content: "";
    position: absolute;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
}
@mixin border($t:0px,$r:0px,$b:0px,$l:0px,$ch:transparent,$cv:transparent) {
    border: {
        top: $t solid $ch;
        right: $r solid $cv;
        bottom: $b solid $ch;
        left: $l solid $cv;
    }
}

@mixin abs($p:auto,$t:auto,$r:auto,$b:auto,$l:auto,$w:auto,$h:auto,$a:left) {
    position: $p;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
    height: $h;
    width: $w;
    text-align: $a;
}


.page {
    overflow: hidden;
}

.land {
    @include abs($p:absolute,$t:0px,$w:100vw,$h:100vh,$a:center);
    font-size: 1.5rem;
    display: table;
    background : {
        color: #fff;
        image: url(../img/snow-street1.jpg);
        position: top;
        size: cover;
    }
    > hgroup {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        background-color: rgba(0, 0, 0, 0.5);
        > div {
            background-color: transparent;
            box-sizing: border-box;
            display: inline-block;
            > * {
                text-shadow: 0px 0px 10px #333;
                color: #fff;
            }
        }
    }
}

.btn {
    border-radius: 5px;
    border-width: 0px;
    padding: 0.7rem 3rem;
    font-size: 1.5rem;
    font-family: "Microsoft JhengHei";
    color: #fff;
    background-color: #008dff;
    margin: 0px 0.5rem;
    transition: all 0.3s ease 0.1s;
    &:hover {
        background-color: #009aff;
        cursor: pointer;
    }
}

.toptri {
    @include abs($p:absolute,$t:0px,$w:100vw,$h:5vh);
    background-color: $mainColor;
    &:after {
        @include trim($t:5vh);
        @include border($t:5vh,$r:100vw,$ch:$mainColor);
    }
}

.btmtri {
    @include abs($p:absolute,$b:0px,$w:100vw,$h:10vh);
    background-color: $mainColor;
    &:before {
        @include trim($b:10vh);
        @include border($b:7vh,$l:100vw,$ch:$mainColor);
    }
}

.mainform {
    box-sizing: border-box;
    background-color: #fff;
    @include abs($p:absolute,$t:100vh,$w:100vw,$h:90vh);
}

.page {
    min-height: 90vh;
    margin-top: 3rem;
}
nav {
    z-index: 10;
    background-color: $mainColor;
}

nav > span {
    padding: 1rem 0px 0.5rem 0px;
    text-align: center;
    width: 25vw;
    min-width: 160px;
    border-bottom: 2px #bbb solid;
    color: #bbb;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease 0.05s;
    &:hover {
        cursor: pointer;
        border-color: #f90;
        color: #f90;
    }
}

.active {
    cursor: pointer;
    border-color: #f90;
    color: #f90;
}

.noscroll {
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: calc(100vw + 20px);
    min-height: 100vh;
    overflow-x: hidden;
}

.content {
    width: 100vw;
    text-align: center;
}


.contentmargin {
    margin-top: 3rem;
}

.trimheadermargin {
    padding-top: 3rem;
    position: relative;
}

.trimsubmargin {
    margin-top: 2rem;
    padding-bottom: 0rem;
    position: relative;
}

.trimheader {
    @include abs($p:absolute,$t:0px,$h:3rem,$a:right);
    margin-top: 2rem;
    margin-right: 80vw;
    min-width: 300px;
    padding-right: 1rem;
    padding-left: 2rem;
    font-size: 2rem;
    line-height: 3rem;
    color: #fff;
    &:after {
        @include trim($t:0px,$r:-3rem);
    }
}
.trimsub {
    @include abs($p:absolute,$t:0px,$w:100%,$h:2rem);
    margin-left: 20vw;
    padding-left: 2rem;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #fff;
    &:before {
        @include trim($t:0px,$l:-2rem);
    }
}

.articalpadding {
    padding: 2rem 10vw 0px 10vw;
    text-align: left;
}
.joinus {
    position: fixed;
    display: inline-block;
    background-color: #f90;
    bottom: 0px;
    right: 0px;
    transition: all 0.3s ease 0.1s;
    background-image: url(../img/joinusgirl.png);
    z-index: 15;
    &:hover {
        padding-top: 90px;
    }
}

.link {
    bottom: 0px;
    cursor: pointer;
    min-width: 60px;
    transition: all 0.3s ease 0.1s;
}

.content[data-pageNum="1"] {
    .trimheader {
       background-color: $blue;
    }
    .trimsub {
       background-color: $blue;
    }
    .trimheader::after {
        @include border($b:3rem,$r:3rem,$ch:$blue);
    }
    .trimsub::before {
        @include border($t:2rem,$l:2rem,$ch:$blue);
    }
}

.content[data-pageNum="2"] {
    .trimheader {
       background-color: $red;
    }
    .trimsub {
       background-color: $red;
    }
    .trimheader::after {
        @include border($b:3rem,$r:3rem,$ch:$red);
    }
    .trimsub::before {
        @include border($t:2rem,$l:2rem,$ch:$red);
    }
}

.content[data-pageNum="3"] {
    .trimheader {
       background-color: $yellow;
    }
    .trimsub {
       background-color: $yellow;
    }
    .trimheader::after {
        @include border($b:3rem,$r:3rem,$ch:$yellow);
    }
    .trimsub::before {
        @include border($t:2rem,$l:2rem,$ch:$yellow);
    }
}

.content[data-pageNum="4"] {
    .trimheader {
       background-color: $green;
    }
    .trimsub {
       background-color: $green;
    }
    .trimheader::after {
        @include border($b:3rem,$r:3rem,$ch:$green);
    }
    .trimsub::before {
        @include border($t:2rem,$l:2rem,$ch:$green);
    }
}

.signupbase {
    @include abs($p:fixed,$r:0px,$b:0px,$w:100%);
    background-color: $mainColor;
    z-index: 100;
    line-height: 2rem;
    .signupheader {
        color: #fff;
        text-align: center;
        font-size: 2rem;
        line-height: 5rem;
        padding: 2rem auto;
        margin-bottom: 1rem;
        background-color: $blue;
    }
    .link {
        display: inline-block;
        background-color: $red;
    }
}
.signup {
    opacity: 0;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 2rem;
    transition: all 0.2s ease;
    form {
        text-align: center;
        > table {
            margin: auto;
            margin-bottom: 1rem;
            td:{
                padding: 0px;
            }
            td:nth-child(1) {
                font-size: 1.3rem;
                text-align: right;
            }
            td:nth-child(2) {
                text-align: left;
                > * {
                    font-size: 1.3rem;
                    margin: 0.3rem;
                    margin-bottom: 0px;
                }
            }
            td.ss{
                line-height: 0.75rem !important;
                >small {
                    font-size: 0.75rem !important;
                    text-align: left;
                    padding-left: 5px;
                    color: red;
                }
            }
        }
    }
}

footer {
    @include abs($b:0px,$w:100vw,$h:200px);
    background-color: #333;
    color: #fff;
    padding: 1rem 5rem;
    margin-top: 5rem;
    box-sizing: border-box;
}


@import "mobile.css"