html {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  padding: 0px;
  margin: auto 0px;
  font-family: "Microsoft JhengHei"; }

body {
  width: 100%;
  background-color: #fff;
  padding: 0px;
  margin: auto 0px;
  font-family: "Microsoft JhengHei";
  overflow: hidden; }

.page {
  overflow: hidden; }

.land {
  position: absolute;
  top: 0px;
  right: auto;
  bottom: auto;
  left: auto;
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-size: 1.5rem;
  display: table;
  background-color: #fff;
  background-image: url(../img/snow-street1.jpg);
  background-position: top;
  background-size: cover; }
  .land > hgroup {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.5); }
    .land > hgroup > div {
      background-color: transparent;
      box-sizing: border-box;
      display: inline-block; }
      .land > hgroup > div > * {
        text-shadow: 0px 0px 10px #333;
        color: #fff; }

.btn {
  color: #fff;
  border-radius: 5px;
  border-width: 0px;
  padding: 0.7rem 3rem;
  font-size: 1.5rem;
  background-color: #008dff;
  transition: all 0.3s ease 0.1s; }
  .btn:hover {
    background-color: #009aff;
    cursor: pointer; }

.toptri {
  position: absolute;
  top: 0px;
  right: auto;
  bottom: auto;
  left: auto;
  height: 5vh;
  width: 100vw;
  text-align: left;
  background-color: white; }
  .toptri:after {
    content: "";
    position: absolute;
    top: 5vh;
    right: auto;
    bottom: auto;
    left: auto;
    border-top: 5vh solid white;
    border-right: 100vw solid transparent;
    border-bottom: 0px solid white;
    border-left: 0px solid transparent; }

.btmtri {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0px;
  left: auto;
  height: 10vh;
  width: 100vw;
  text-align: left;
  background-color: white; }
  .btmtri:before {
    content: "";
    position: absolute;
    top: auto;
    right: auto;
    bottom: 10vh;
    left: auto;
    border-top: 0px solid white;
    border-right: 0px solid transparent;
    border-bottom: 7vh solid white;
    border-left: 100vw solid transparent; }

.mainform {
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 100vh;
  right: auto;
  bottom: auto;
  left: auto;
  height: 90vh;
  width: 100vw;
  text-align: left; }

.page {
  min-height: 90vh;
  margin-top: 3rem; }

nav {
  z-index: 10;
  background-color: white; }

nav > span {
  padding: 1rem 0px 0.5rem 0px;
  text-align: center;
  width: 25vw;
  min-width: 160px;
  border-bottom: 2px #bbb solid;
  color: #bbb;
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease 0.05s; }
  nav > span:hover {
    cursor: pointer;
    border-color: #f90;
    color: #f90; }

.active {
  cursor: pointer;
  border-color: #f90;
  color: #f90; }

.noscroll {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: calc(100vw + 20px);
  min-height: 100vh;
  overflow-x: hidden; }

.content {
  width: 100vw;
  min-height: calc(90vh);
  text-align: center; }

.contentmargin {
  margin-top: 3rem; }

.trimheadermargin {
  padding-top: 3rem;
  position: relative; }

.trimsubmargin {
  margin-top: 2rem;
  padding-bottom: 0rem;
  position: relative; }

.trimheader {
  position: absolute;
  top: 0px;
  right: auto;
  bottom: auto;
  left: auto;
  height: 3rem;
  width: auto;
  text-align: right;
  margin-top: 2rem;
  padding-left: 2rem;
  font-size: 2rem;
  line-height: 3rem;
  color: #fff; }
  .trimheader:after {
    content: "";
    position: absolute;
    top: 0px;
    right: auto;
    bottom: auto;
    left: auto; }

.trimsub {
  position: absolute;
  top: 0px;
  right: auto;
  bottom: auto;
  left: auto;
  height: 2rem;
  width: 100%;
  text-align: left;
  margin-left: 20vw;
  padding-left: 2rem;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #fff; }
  .trimsub:before {
    content: "";
    position: absolute;
    top: 0px;
    right: auto;
    bottom: auto;
    left: -2rem; }

.articalpadding {
  padding: 2rem 10vw 0px 10vw;
  text-align: left; }

.joinus {
  position: fixed;
  display: inline-block;
  background-color: #f90;
  bottom: 0px;
  right: 0px;
  transition: all 0.3s ease 0.1s;
  background-image: url(../img/joinusgirl.png);
  z-index: 15; }
  .joinus:hover {
    padding-top: 90px; }

.link {
  bottom: 0px;
  cursor: pointer;
  min-width: 60px;
  margin-bottom: 30px;
  transition: all 0.3s ease 0.1s; }

.content[data-pageNum="1"] .trimheader {
  background-color: #4285F4; }
.content[data-pageNum="1"] .trimsub {
  background-color: #4285F4; }
.content[data-pageNum="1"] .trimheader::after {
  border-top: 0px solid #4285F4;
  border-right: 3rem solid transparent;
  border-bottom: 3rem solid #4285F4;
  border-left: 0px solid transparent; }
.content[data-pageNum="1"] .trimsub::before {
  border-top: 2rem solid #4285F4;
  border-right: 0px solid transparent;
  border-bottom: 0px solid #4285F4;
  border-left: 2rem solid transparent; }

.content[data-pageNum="2"] .trimheader {
  background-color: #EA4335; }
.content[data-pageNum="2"] .trimsub {
  background-color: #EA4335; }
.content[data-pageNum="2"] .trimheader::after {
  border-top: 0px solid #EA4335;
  border-right: 3rem solid transparent;
  border-bottom: 3rem solid #EA4335;
  border-left: 0px solid transparent; }
.content[data-pageNum="2"] .trimsub::before {
  border-top: 2rem solid #EA4335;
  border-right: 0px solid transparent;
  border-bottom: 0px solid #EA4335;
  border-left: 2rem solid transparent; }

.content[data-pageNum="3"] .trimheader {
  background-color: #FBBC05; }
.content[data-pageNum="3"] .trimsub {
  background-color: #FBBC05; }
.content[data-pageNum="3"] .trimheader::after {
  border-top: 0px solid #FBBC05;
  border-right: 3rem solid transparent;
  border-bottom: 3rem solid #FBBC05;
  border-left: 0px solid transparent; }
.content[data-pageNum="3"] .trimsub::before {
  border-top: 2rem solid #FBBC05;
  border-right: 0px solid transparent;
  border-bottom: 0px solid #FBBC05;
  border-left: 2rem solid transparent; }

.content[data-pageNum="4"] .trimheader {
  background-color: #34A853; }
.content[data-pageNum="4"] .trimsub {
  background-color: #34A853; }
.content[data-pageNum="4"] .trimheader::after {
  border-top: 0px solid #34A853;
  border-right: 3rem solid transparent;
  border-bottom: 3rem solid #34A853;
  border-left: 0px solid transparent; }
.content[data-pageNum="4"] .trimsub::before {
  border-top: 2rem solid #34A853;
  border-right: 0px solid transparent;
  border-bottom: 0px solid #34A853;
  border-left: 2rem solid transparent; }

.signupbase {
  position: fixed;
  top: auto;
  right: 0px;
  bottom: 0px;
  left: auto;
  height: auto;
  width: 100%;
  text-align: left;
  background-color: white;
  z-index: 11;
  line-height: 2rem; }
  .signupbase .signupheader {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    line-height: 5rem;
    padding: 2rem auto;
    margin-bottom: 2rem;
    background-color: #4285F4; }
  .signupbase .link {
    display: inline-block;
    background-color: #EA4335; }

.signup {
  opacity: 0;
  text-align: center;
  padding-top: 1rem;
  transition: all 0.3s ease 0.1s; }
  .signup form {
    text-align: center; }
    .signup form .frmlabel {
      display: inline-block;
      line-height: 3rem; }
      .signup form .frmlabel > * {
        font-size: 1.3rem;
        display: block; }
    .signup form .frminput {
      display: inline-block;
      text-align: left;
      line-height: 3rem;
      margin-bottom: 1rem; }
      .signup form .frminput > * {
        margin: 3px;
        font-size: 1.3rem;
        padding: 3px; }

footer {
  position: auto;
  top: auto;
  right: auto;
  bottom: 0px;
  left: auto;
  height: 200px;
  width: 100vw;
  text-align: left;
  background-color: #333;
  color: #fff;
  padding: 1rem 5rem;
  margin-top: 5rem;
  box-sizing: border-box; }

/*# sourceMappingURL=style.css.map */
